<div class="login-3d-box">
  <div #cubeCanvas class="canvas-container"></div>

  <div class="form-overlay">
    <h2>H2A3 LOGIN</h2>
    
    <div class="input-group">
      <input type="text" placeholder="Usuario" name="username">
    </div>

    <div class="input-group">
      <input type="password" placeholder="Contraseña" name="password">
    </div>

    <button type="submit" class="login-button">ENTRAR</button>
    
    <div class="actions">
      <a href="#">Recuperar cuenta</a>
    </div>
  </div>
</div>